// --- general resets ---
body { margin: 0; }
h1, h2, h3, h4, h5, h6 { margin: 1ex 0; }
table {
  border-spacing: 0; border-collapse: collapse;
  th, td { font-size: 100%; text-align: left; }
}
// ----------------------

body {
  font: 16px Times;
}

div, section, nav, main, textarea, input, span {
  box-sizing: border-box;
}

textarea, input, pre {
  font: 10px Monaco, "Courier New", monospace;
  padding: 2px;
  resize: none;
}

main {
  margin: 10px
}

table.characters {
  td {
    padding: 1px 3px;
    border-top: 1px solid #CCC;
    white-space: nowrap;
  }
}
