<div class="hcontrol">
  <label>
    <div><b>Range</b></div>
    <select style="width: 150px" ng-options="block as block.blockName for block in blocks"
      ng-model="selectedBlock" ng-change="params.start = selectedBlock.startCode; params.end = selectedBlock.endCode">
      <option value>-- All --</option>
    </select>
  </label>
  <input ng-model="params.start" type="number" placeholder="start" style="width: 60px">–<input ng-model="params.end" type="number" placeholder="end" style="width: 60px">
</div>
<div class="hcontrol">
  <label>
    <div><b>Name</b></div>
    <input ng-model="params.name" ng-change="params.name = params.name.toUpperCase()" ng-model-options="{debounce: 500}">
  </label>
</div>
<div class="hcontrol">
  <label>
    <div><b>General Category</b></div>
    <select ng-options="cat as GeneralCategory for (cat, GeneralCategory) in GeneralCategories" ng-model="params.cat">
      <option value>-- All --</option>
    </select>
  </label>
</div>
<div class="hcontrol">
  <label>
    <div><b>Limit</b></div>
    <input ng-model="params.limit" ng-model-options="{debounce: 500}" style="width: 50px">
  </label>
</div>

<h3 class="hpad">Showing {{limitedMatchingCharacters.length}} of {{totalMatchingCharacters}} matching characters</h3>
<virtual value="limitedMatchingCharacters" name="UcdTable"></virtual>
